@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.coming-soon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.coming-soon-image {
    animation: rotate 2s linear infinite;
}