.whitelist-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .whitelist-container ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .whitelist-container .MuiGrid-item {
    width: 100%;
  }
  
  .whitelist-container .MuiGrid-item:first-child {
    margin-bottom: 16px;
  }
  