.section {
    margin-bottom: 2%;
}
.mainCardDiv {
    display: flex;
    justify-content: center;
    gap: 4%; 
    /* margin-top: 2%; */
  }
  
  .my-card {
   
    height: 100%; 
    padding: 3%;
    border-radius: 5%;
    background-image: linear-gradient(to right, #6916F2, #566BD5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .card-title,
  .card-balance {
    font-size: 1.5rem; 
    font-weight: bold;
    text-transform: capitalize;
    color: white;
  }
  
  .image{
    display: flex;
    justify-content: center;
    margin-top: 2%;
  }